<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.entBdSbFrkTblActiveXnqyMapper">
  <resultMap id="BaseResultMap" type="entity.entBdSbFrkTblActiveXnqy">
    <result column="credit_no" jdbcType="VARCHAR" property="creditNo" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="staff_idcard" jdbcType="VARCHAR" property="staffIdcard" />
    <result column="staff_type" jdbcType="VARCHAR" property="staffType" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_tel" jdbcType="VARCHAR" property="staffTel" />
    <result column="is_fr" jdbcType="VARCHAR" property="isFr" />
    <result column="credit_no_active" jdbcType="VARCHAR" property="creditNoActive" />
    <result column="ent_name_active" jdbcType="VARCHAR" property="entNameActive" />
    <result column="credit_no_current" jdbcType="VARCHAR" property="creditNoCurrent" />
    <result column="ent_name_current" jdbcType="VARCHAR" property="entNameCurrent" />
    <result column="is_update_manually" jdbcType="VARCHAR" property="isUpdateManually" />
    <result column="staff_type_code" jdbcType="VARCHAR" property="staffTypeCode" />
    <result column="staff_idcard_off_sensetive" jdbcType="VARCHAR" property="staffIdcardOffSensetive" />
    <result column="on_duty_flag" jdbcType="BIT" property="onDutyFlag" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="exchangeFlag" jdbcType="INTEGER" property="exchangeflag" />
    <result column="exchangeLog" jdbcType="VARCHAR" property="exchangelog" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ryfl" jdbcType="VARCHAR" property="ryfl" />
    <result column="hylb" jdbcType="VARCHAR" property="hylb" />
    <result column="grxxdz" jdbcType="VARCHAR" property="grxxdz" />
    <result column="bzgsm" jdbcType="VARCHAR" property="bzgsm" />
    <result column="hyflsm" jdbcType="VARCHAR" property="hyflsm" />
    <result column="ryflsm" jdbcType="VARCHAR" property="ryflsm" />
    <result column="sfzl" jdbcType="TINYINT" property="sfzl" />
    <result column="jzdz" jdbcType="VARCHAR" property="jzdz" />
    <result column="hjdz" jdbcType="VARCHAR" property="hjdz" />
    <result column="qtxx1" jdbcType="VARCHAR" property="qtxx1" />
    <result column="qtxx2" jdbcType="VARCHAR" property="qtxx2" />
    <result column="qtxx3" jdbcType="VARCHAR" property="qtxx3" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="person_gender" jdbcType="BIT" property="personGender" />
    <result column="person_birthday" jdbcType="VARCHAR" property="personBirthday" />
    <result column="person_nationality" jdbcType="VARCHAR" property="personNationality" />
    <result column="person_start" jdbcType="VARCHAR" property="personStart" />
    <result column="person_end" jdbcType="VARCHAR" property="personEnd" />
    <result column="person_school" jdbcType="VARCHAR" property="personSchool" />
    <result column="person_class" jdbcType="VARCHAR" property="personClass" />
    <result column="person_ownership" jdbcType="BIT" property="personOwnership" />
  </resultMap>
  <insert id="insert" parameterType="entity.entBdSbFrkTblActiveXnqy">
    insert into ent_bd_sb_frk_tbl_active_xnqy (credit_no, ent_name, staff_idcard, 
      staff_type, staff_name, staff_tel, 
      is_fr, credit_no_active, ent_name_active, 
      credit_no_current, ent_name_current, is_update_manually, 
      staff_type_code, staff_idcard_off_sensetive, 
      on_duty_flag, update_user_name, update_time, 
      exchangeFlag, exchangeLog, is_deleted, 
      remark, ryfl, hylb, 
      grxxdz, bzgsm, hyflsm, 
      ryflsm, sfzl, jzdz, 
      hjdz, qtxx1, qtxx2, 
      qtxx3, create_time, person_gender, 
      person_birthday, person_nationality, person_start, 
      person_end, person_school, person_class, 
      person_ownership)
    values (#{creditNo,jdbcType=VARCHAR}, #{entName,jdbcType=VARCHAR}, #{staffIdcard,jdbcType=VARCHAR}, 
      #{staffType,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{staffTel,jdbcType=VARCHAR}, 
      #{isFr,jdbcType=VARCHAR}, #{creditNoActive,jdbcType=VARCHAR}, #{entNameActive,jdbcType=VARCHAR}, 
      #{creditNoCurrent,jdbcType=VARCHAR}, #{entNameCurrent,jdbcType=VARCHAR}, #{isUpdateManually,jdbcType=VARCHAR}, 
      #{staffTypeCode,jdbcType=VARCHAR}, #{staffIdcardOffSensetive,jdbcType=VARCHAR}, 
      #{onDutyFlag,jdbcType=BIT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{exchangeflag,jdbcType=INTEGER}, #{exchangelog,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{ryfl,jdbcType=VARCHAR}, #{hylb,jdbcType=VARCHAR}, 
      #{grxxdz,jdbcType=VARCHAR}, #{bzgsm,jdbcType=VARCHAR}, #{hyflsm,jdbcType=VARCHAR}, 
      #{ryflsm,jdbcType=VARCHAR}, #{sfzl,jdbcType=TINYINT}, #{jzdz,jdbcType=VARCHAR}, 
      #{hjdz,jdbcType=VARCHAR}, #{qtxx1,jdbcType=VARCHAR}, #{qtxx2,jdbcType=VARCHAR}, 
      #{qtxx3,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{personGender,jdbcType=BIT}, 
      #{personBirthday,jdbcType=VARCHAR}, #{personNationality,jdbcType=VARCHAR}, #{personStart,jdbcType=VARCHAR}, 
      #{personEnd,jdbcType=VARCHAR}, #{personSchool,jdbcType=VARCHAR}, #{personClass,jdbcType=VARCHAR}, 
      #{personOwnership,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="entity.entBdSbFrkTblActiveXnqy">
    insert into ent_bd_sb_frk_tbl_active_xnqy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditNo != null">
        credit_no,
      </if>
      <if test="entName != null">
        ent_name,
      </if>
      <if test="staffIdcard != null">
        staff_idcard,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffTel != null">
        staff_tel,
      </if>
      <if test="isFr != null">
        is_fr,
      </if>
      <if test="creditNoActive != null">
        credit_no_active,
      </if>
      <if test="entNameActive != null">
        ent_name_active,
      </if>
      <if test="creditNoCurrent != null">
        credit_no_current,
      </if>
      <if test="entNameCurrent != null">
        ent_name_current,
      </if>
      <if test="isUpdateManually != null">
        is_update_manually,
      </if>
      <if test="staffTypeCode != null">
        staff_type_code,
      </if>
      <if test="staffIdcardOffSensetive != null">
        staff_idcard_off_sensetive,
      </if>
      <if test="onDutyFlag != null">
        on_duty_flag,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="exchangeflag != null">
        exchangeFlag,
      </if>
      <if test="exchangelog != null">
        exchangeLog,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ryfl != null">
        ryfl,
      </if>
      <if test="hylb != null">
        hylb,
      </if>
      <if test="grxxdz != null">
        grxxdz,
      </if>
      <if test="bzgsm != null">
        bzgsm,
      </if>
      <if test="hyflsm != null">
        hyflsm,
      </if>
      <if test="ryflsm != null">
        ryflsm,
      </if>
      <if test="sfzl != null">
        sfzl,
      </if>
      <if test="jzdz != null">
        jzdz,
      </if>
      <if test="hjdz != null">
        hjdz,
      </if>
      <if test="qtxx1 != null">
        qtxx1,
      </if>
      <if test="qtxx2 != null">
        qtxx2,
      </if>
      <if test="qtxx3 != null">
        qtxx3,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="personGender != null">
        person_gender,
      </if>
      <if test="personBirthday != null">
        person_birthday,
      </if>
      <if test="personNationality != null">
        person_nationality,
      </if>
      <if test="personStart != null">
        person_start,
      </if>
      <if test="personEnd != null">
        person_end,
      </if>
      <if test="personSchool != null">
        person_school,
      </if>
      <if test="personClass != null">
        person_class,
      </if>
      <if test="personOwnership != null">
        person_ownership,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditNo != null">
        #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="staffIdcard != null">
        #{staffIdcard,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffTel != null">
        #{staffTel,jdbcType=VARCHAR},
      </if>
      <if test="isFr != null">
        #{isFr,jdbcType=VARCHAR},
      </if>
      <if test="creditNoActive != null">
        #{creditNoActive,jdbcType=VARCHAR},
      </if>
      <if test="entNameActive != null">
        #{entNameActive,jdbcType=VARCHAR},
      </if>
      <if test="creditNoCurrent != null">
        #{creditNoCurrent,jdbcType=VARCHAR},
      </if>
      <if test="entNameCurrent != null">
        #{entNameCurrent,jdbcType=VARCHAR},
      </if>
      <if test="isUpdateManually != null">
        #{isUpdateManually,jdbcType=VARCHAR},
      </if>
      <if test="staffTypeCode != null">
        #{staffTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="staffIdcardOffSensetive != null">
        #{staffIdcardOffSensetive,jdbcType=VARCHAR},
      </if>
      <if test="onDutyFlag != null">
        #{onDutyFlag,jdbcType=BIT},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeflag != null">
        #{exchangeflag,jdbcType=INTEGER},
      </if>
      <if test="exchangelog != null">
        #{exchangelog,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ryfl != null">
        #{ryfl,jdbcType=VARCHAR},
      </if>
      <if test="hylb != null">
        #{hylb,jdbcType=VARCHAR},
      </if>
      <if test="grxxdz != null">
        #{grxxdz,jdbcType=VARCHAR},
      </if>
      <if test="bzgsm != null">
        #{bzgsm,jdbcType=VARCHAR},
      </if>
      <if test="hyflsm != null">
        #{hyflsm,jdbcType=VARCHAR},
      </if>
      <if test="ryflsm != null">
        #{ryflsm,jdbcType=VARCHAR},
      </if>
      <if test="sfzl != null">
        #{sfzl,jdbcType=TINYINT},
      </if>
      <if test="jzdz != null">
        #{jzdz,jdbcType=VARCHAR},
      </if>
      <if test="hjdz != null">
        #{hjdz,jdbcType=VARCHAR},
      </if>
      <if test="qtxx1 != null">
        #{qtxx1,jdbcType=VARCHAR},
      </if>
      <if test="qtxx2 != null">
        #{qtxx2,jdbcType=VARCHAR},
      </if>
      <if test="qtxx3 != null">
        #{qtxx3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personGender != null">
        #{personGender,jdbcType=BIT},
      </if>
      <if test="personBirthday != null">
        #{personBirthday,jdbcType=VARCHAR},
      </if>
      <if test="personNationality != null">
        #{personNationality,jdbcType=VARCHAR},
      </if>
      <if test="personStart != null">
        #{personStart,jdbcType=VARCHAR},
      </if>
      <if test="personEnd != null">
        #{personEnd,jdbcType=VARCHAR},
      </if>
      <if test="personSchool != null">
        #{personSchool,jdbcType=VARCHAR},
      </if>
      <if test="personClass != null">
        #{personClass,jdbcType=VARCHAR},
      </if>
      <if test="personOwnership != null">
        #{personOwnership,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="entity.entBdSbFrkTblActiveXnqy">
    <result column="credit_no" jdbcType="VARCHAR" property="creditNo" />
    <result column="ent_name" jdbcType="VARCHAR" property="entName" />
    <result column="staff_idcard" jdbcType="VARCHAR" property="staffIdcard" />
    <result column="staff_type" jdbcType="VARCHAR" property="staffType" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_tel" jdbcType="VARCHAR" property="staffTel" />
    <result column="is_fr" jdbcType="VARCHAR" property="isFr" />
    <result column="credit_no_active" jdbcType="VARCHAR" property="creditNoActive" />
    <result column="ent_name_active" jdbcType="VARCHAR" property="entNameActive" />
    <result column="credit_no_current" jdbcType="VARCHAR" property="creditNoCurrent" />
    <result column="ent_name_current" jdbcType="VARCHAR" property="entNameCurrent" />
    <result column="is_update_manually" jdbcType="VARCHAR" property="isUpdateManually" />
    <result column="staff_type_code" jdbcType="VARCHAR" property="staffTypeCode" />
    <result column="staff_idcard_off_sensetive" jdbcType="VARCHAR" property="staffIdcardOffSensetive" />
    <result column="on_duty_flag" jdbcType="BIT" property="onDutyFlag" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="exchangeFlag" jdbcType="INTEGER" property="exchangeflag" />
    <result column="exchangeLog" jdbcType="VARCHAR" property="exchangelog" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ryfl" jdbcType="VARCHAR" property="ryfl" />
    <result column="hylb" jdbcType="VARCHAR" property="hylb" />
    <result column="grxxdz" jdbcType="VARCHAR" property="grxxdz" />
    <result column="bzgsm" jdbcType="VARCHAR" property="bzgsm" />
    <result column="hyflsm" jdbcType="VARCHAR" property="hyflsm" />
    <result column="ryflsm" jdbcType="VARCHAR" property="ryflsm" />
    <result column="sfzl" jdbcType="TINYINT" property="sfzl" />
    <result column="jzdz" jdbcType="VARCHAR" property="jzdz" />
    <result column="hjdz" jdbcType="VARCHAR" property="hjdz" />
    <result column="qtxx1" jdbcType="VARCHAR" property="qtxx1" />
    <result column="qtxx2" jdbcType="VARCHAR" property="qtxx2" />
    <result column="qtxx3" jdbcType="VARCHAR" property="qtxx3" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="person_gender" jdbcType="BIT" property="personGender" />
    <result column="person_birthday" jdbcType="VARCHAR" property="personBirthday" />
    <result column="person_nationality" jdbcType="VARCHAR" property="personNationality" />
    <result column="person_start" jdbcType="VARCHAR" property="personStart" />
    <result column="person_end" jdbcType="VARCHAR" property="personEnd" />
    <result column="person_school" jdbcType="VARCHAR" property="personSchool" />
    <result column="person_class" jdbcType="VARCHAR" property="personClass" />
    <result column="person_ownership" jdbcType="BIT" property="personOwnership" />
  </resultMap>
  <insert id="insert" parameterType="entity.entBdSbFrkTblActiveXnqy">
    insert into ent_bd_sb_frk_tbl_active_xnqy (credit_no, ent_name, staff_idcard, 
      staff_type, staff_name, staff_tel, 
      is_fr, credit_no_active, ent_name_active, 
      credit_no_current, ent_name_current, is_update_manually, 
      staff_type_code, staff_idcard_off_sensetive, 
      on_duty_flag, update_user_name, update_time, 
      exchangeFlag, exchangeLog, is_deleted, 
      remark, ryfl, hylb, 
      grxxdz, bzgsm, hyflsm, 
      ryflsm, sfzl, jzdz, 
      hjdz, qtxx1, qtxx2, 
      qtxx3, create_time, person_gender, 
      person_birthday, person_nationality, person_start, 
      person_end, person_school, person_class, 
      person_ownership)
    values (#{creditNo,jdbcType=VARCHAR}, #{entName,jdbcType=VARCHAR}, #{staffIdcard,jdbcType=VARCHAR}, 
      #{staffType,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{staffTel,jdbcType=VARCHAR}, 
      #{isFr,jdbcType=VARCHAR}, #{creditNoActive,jdbcType=VARCHAR}, #{entNameActive,jdbcType=VARCHAR}, 
      #{creditNoCurrent,jdbcType=VARCHAR}, #{entNameCurrent,jdbcType=VARCHAR}, #{isUpdateManually,jdbcType=VARCHAR}, 
      #{staffTypeCode,jdbcType=VARCHAR}, #{staffIdcardOffSensetive,jdbcType=VARCHAR}, 
      #{onDutyFlag,jdbcType=BIT}, #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{exchangeflag,jdbcType=INTEGER}, #{exchangelog,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{ryfl,jdbcType=VARCHAR}, #{hylb,jdbcType=VARCHAR}, 
      #{grxxdz,jdbcType=VARCHAR}, #{bzgsm,jdbcType=VARCHAR}, #{hyflsm,jdbcType=VARCHAR}, 
      #{ryflsm,jdbcType=VARCHAR}, #{sfzl,jdbcType=TINYINT}, #{jzdz,jdbcType=VARCHAR}, 
      #{hjdz,jdbcType=VARCHAR}, #{qtxx1,jdbcType=VARCHAR}, #{qtxx2,jdbcType=VARCHAR}, 
      #{qtxx3,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{personGender,jdbcType=BIT}, 
      #{personBirthday,jdbcType=VARCHAR}, #{personNationality,jdbcType=VARCHAR}, #{personStart,jdbcType=VARCHAR}, 
      #{personEnd,jdbcType=VARCHAR}, #{personSchool,jdbcType=VARCHAR}, #{personClass,jdbcType=VARCHAR}, 
      #{personOwnership,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="entity.entBdSbFrkTblActiveXnqy">
    insert into ent_bd_sb_frk_tbl_active_xnqy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditNo != null">
        credit_no,
      </if>
      <if test="entName != null">
        ent_name,
      </if>
      <if test="staffIdcard != null">
        staff_idcard,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffTel != null">
        staff_tel,
      </if>
      <if test="isFr != null">
        is_fr,
      </if>
      <if test="creditNoActive != null">
        credit_no_active,
      </if>
      <if test="entNameActive != null">
        ent_name_active,
      </if>
      <if test="creditNoCurrent != null">
        credit_no_current,
      </if>
      <if test="entNameCurrent != null">
        ent_name_current,
      </if>
      <if test="isUpdateManually != null">
        is_update_manually,
      </if>
      <if test="staffTypeCode != null">
        staff_type_code,
      </if>
      <if test="staffIdcardOffSensetive != null">
        staff_idcard_off_sensetive,
      </if>
      <if test="onDutyFlag != null">
        on_duty_flag,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="exchangeflag != null">
        exchangeFlag,
      </if>
      <if test="exchangelog != null">
        exchangeLog,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ryfl != null">
        ryfl,
      </if>
      <if test="hylb != null">
        hylb,
      </if>
      <if test="grxxdz != null">
        grxxdz,
      </if>
      <if test="bzgsm != null">
        bzgsm,
      </if>
      <if test="hyflsm != null">
        hyflsm,
      </if>
      <if test="ryflsm != null">
        ryflsm,
      </if>
      <if test="sfzl != null">
        sfzl,
      </if>
      <if test="jzdz != null">
        jzdz,
      </if>
      <if test="hjdz != null">
        hjdz,
      </if>
      <if test="qtxx1 != null">
        qtxx1,
      </if>
      <if test="qtxx2 != null">
        qtxx2,
      </if>
      <if test="qtxx3 != null">
        qtxx3,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="personGender != null">
        person_gender,
      </if>
      <if test="personBirthday != null">
        person_birthday,
      </if>
      <if test="personNationality != null">
        person_nationality,
      </if>
      <if test="personStart != null">
        person_start,
      </if>
      <if test="personEnd != null">
        person_end,
      </if>
      <if test="personSchool != null">
        person_school,
      </if>
      <if test="personClass != null">
        person_class,
      </if>
      <if test="personOwnership != null">
        person_ownership,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditNo != null">
        #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="staffIdcard != null">
        #{staffIdcard,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffTel != null">
        #{staffTel,jdbcType=VARCHAR},
      </if>
      <if test="isFr != null">
        #{isFr,jdbcType=VARCHAR},
      </if>
      <if test="creditNoActive != null">
        #{creditNoActive,jdbcType=VARCHAR},
      </if>
      <if test="entNameActive != null">
        #{entNameActive,jdbcType=VARCHAR},
      </if>
      <if test="creditNoCurrent != null">
        #{creditNoCurrent,jdbcType=VARCHAR},
      </if>
      <if test="entNameCurrent != null">
        #{entNameCurrent,jdbcType=VARCHAR},
      </if>
      <if test="isUpdateManually != null">
        #{isUpdateManually,jdbcType=VARCHAR},
      </if>
      <if test="staffTypeCode != null">
        #{staffTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="staffIdcardOffSensetive != null">
        #{staffIdcardOffSensetive,jdbcType=VARCHAR},
      </if>
      <if test="onDutyFlag != null">
        #{onDutyFlag,jdbcType=BIT},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchangeflag != null">
        #{exchangeflag,jdbcType=INTEGER},
      </if>
      <if test="exchangelog != null">
        #{exchangelog,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ryfl != null">
        #{ryfl,jdbcType=VARCHAR},
      </if>
      <if test="hylb != null">
        #{hylb,jdbcType=VARCHAR},
      </if>
      <if test="grxxdz != null">
        #{grxxdz,jdbcType=VARCHAR},
      </if>
      <if test="bzgsm != null">
        #{bzgsm,jdbcType=VARCHAR},
      </if>
      <if test="hyflsm != null">
        #{hyflsm,jdbcType=VARCHAR},
      </if>
      <if test="ryflsm != null">
        #{ryflsm,jdbcType=VARCHAR},
      </if>
      <if test="sfzl != null">
        #{sfzl,jdbcType=TINYINT},
      </if>
      <if test="jzdz != null">
        #{jzdz,jdbcType=VARCHAR},
      </if>
      <if test="hjdz != null">
        #{hjdz,jdbcType=VARCHAR},
      </if>
      <if test="qtxx1 != null">
        #{qtxx1,jdbcType=VARCHAR},
      </if>
      <if test="qtxx2 != null">
        #{qtxx2,jdbcType=VARCHAR},
      </if>
      <if test="qtxx3 != null">
        #{qtxx3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personGender != null">
        #{personGender,jdbcType=BIT},
      </if>
      <if test="personBirthday != null">
        #{personBirthday,jdbcType=VARCHAR},
      </if>
      <if test="personNationality != null">
        #{personNationality,jdbcType=VARCHAR},
      </if>
      <if test="personStart != null">
        #{personStart,jdbcType=VARCHAR},
      </if>
      <if test="personEnd != null">
        #{personEnd,jdbcType=VARCHAR},
      </if>
      <if test="personSchool != null">
        #{personSchool,jdbcType=VARCHAR},
      </if>
      <if test="personClass != null">
        #{personClass,jdbcType=VARCHAR},
      </if>
      <if test="personOwnership != null">
        #{personOwnership,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>